@typeparam TItem

<div class="row">
    <div class="col-md-6">
        <div class="input-group mb-3">
            <input type="text" @bind="searchTerm" @oninput="HandleInput" class="form-control" placeholder="Search by name" aria-label="Search by name" aria-describedby="button-addon2">
        </div>
    </div>
</div>

@code {
    private string? _searchTerm = "";

    [Parameter]
    public string searchTerm
    {
        get => _searchTerm;
        set
        {
            if (_searchTerm != value)
            {
                _searchTerm = value;
                HandleInput(new ChangeEventArgs() { Value = value });
            }
        }
    }


    private async Task HandleInput(ChangeEventArgs e)
    {
        searchTerm = e.Value.ToString();
        await OnSearchTermChanged.InvokeAsync(searchTerm);
    }

    [Parameter]
    public EventCallback<string> OnSearchTermChanged { get; set; }
}
